.offers-page {
  padding: 30px;
}

.offers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.offers-header h1 {
  margin: 0;
  color: #111827;
}

.offers-header p {
  color: #6b7280;
  margin-top: 5px;
}

.offers-counter {
  width: 70px;
  height: 70px;

  border-radius: 20px;

  background: #2563eb;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: bold;
}

.offers-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(320px, 1fr));

  gap: 24px;
}

.offer-card {
  background: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow:
    0 4px 20px rgba(0, 0, 0, .06);

  transition: .3s;
}

.offer-card:hover {
  transform: translateY(-5px);
}

.offer-badge {
  background: linear-gradient(135deg,
      #ef4444,
      #dc2626);

  color: white;

  padding: 16px;

  font-size: 24px;

  font-weight: 700;

  text-align: center;
}

.offer-content {
  padding: 20px;
}

.offer-content h3 {
  margin-bottom: 20px;
  color: #111827;
}

.offer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.offer-info span {
  color: #6b7280;
}

.offer-info strong {
  color: #111827;
}

.status {
  margin-top: 20px;

  padding: 8px 12px;

  border-radius: 999px;

  display: inline-block;

  font-size: 13px;

  font-weight: 600;
}

.status.active {
  background: #dcfce7;
  color: #15803d;
}

.status.expired {
  background: #fee2e2;
  color: #dc2626;
}

.delete-offer-btn {
  width: 100%;

  border: none;

  background: #111827;

  color: white;

  padding: 14px;

  cursor: pointer;

  font-weight: 600;

  transition: .3s;
}

.delete-offer-btn:hover {
  background: #dc2626;
}

@media (max-width: 768px) {

  .offers-page {
    padding: 20px;
  }

  .offers-header {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .offers-grid {
    grid-template-columns: 1fr;
  }
}